.numberBox {
    padding: 4px;
    font-size: 15px;
    color: white;
    background-color: #1a4e95;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;   
    list-style-type: none;
}
.guessLi {
    list-style-type: none;
    text-align: center; 
    vertical-align: middle;
    line-height: 90px;
    display: inline-block;
    margin-left: 8px;
    overflow-y: hidden;
    overflow-x: auto;
}